.App-container {
  text-align: center;
}

body a {
  text-decoration: none;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-card {
  width: 30%;
  position: relative;
}

.btn-box {
  margin-bottom: 15px;
}

.photo-img {
  width: 100%;
  height: auto;
}

.photo-card:nth-child(n+4) {
  margin-top: 3%;
}

.photo-card:nth-child(3n+2) {
  margin-left: 3%;
  margin-right: 3%;
}

.info-btn {
  position: absolute;
  left: 38%;
  bottom: 46%;
  opacity: 1;
}

.avatar {
  border-radius: 100px;
}

.user-info {
  display: flex;
  flex-direction: column;
  float: right;
  text-align: center;
  font-size: 12px;
}